[submodule "monotorrent"]
	path = monotorrent
	url = https://github.com/SubverseIM/monotorrent.git
[submodule "Avalonia"]
	path = Avalonia
	url = https://github.com/SubverseIM/Avalonia.git
[submodule "CoreRPC"]
	path = CoreRPC
	url = https://github.com/SubverseIM/CoreRPC.git
