[submodule "monotorrent"]
	path = external/monotorrent
	url = https://github.com/SubverseIM/monotorrent.git
[submodule "Avalonia"]
	path = external/Avalonia
	url = https://github.com/SubverseIM/Avalonia.git
[submodule "CoreRPC"]
	path = external/CoreRPC
	url = https://github.com/SubverseIM/CoreRPC.git
[submodule "apns-dotnet"]
	path = external/apns-dotnet
	url = https://github.com/SubverseIM/apns-dotnet.git
[submodule "external/CFS.Avalonia.Controls"]
	path = external/CFS.Avalonia.Controls
	url = https://github.com/SubverseIM/CFS.Avalonia.Controls.git
