<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>SubverseIM.iOS.NotificationServiceExtension</string>
	<key>CFBundleName</key>
	<string>SubverseIM.iOS.NotificationServiceExtension</string>
	<key>CFBundleIdentifier</key>
	<string>com.chosenfewsoftware.SubverseIM.NotificationServiceExtension</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>CFBundleShortVersionString</key>
	<string>1.13.009</string>
	<key>CFBundleVersion</key>
	<string>1.13.009</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.usernotifications.service</string>
		<key>NSExtensionPrincipalClass</key>
		<string>NotificationServiceExtension</string>
	</dict>
	<key>MinimumOSVersion</key>
	<string>14.0</string>
</dict>
</plist>
