name: .NET CI Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test-app:
    name: SubverseIM.App
    runs-on: self-hosted
    permissions:
      contents: read

    container: 
      image: mcr.microsoft.com/dotnet/sdk:8.0
      
    steps:
    - uses: actions/checkout@v4
      with: 
        submodules: 'recursive'
    - name: Add Avalonia Nuget feed
      run: dotnet nuget add source https://nuget-feed-all.avaloniaui.net/v3/index.json
    - name: Restore dependencies
      run: dotnet restore SubverseIM.App/SubverseIM.Headless/SubverseIM.Headless.csproj
    - name: Build SubverseIM.App
      run: dotnet build SubverseIM.App/SubverseIM.Headless/SubverseIM.Headless.csproj --no-restore
    - name: Test SubverseIM.App
      run: dotnet test SubverseIM.App/SubverseIM.Headless/SubverseIM.Headless.csproj --no-build --verbosity normal
  test-web:
    name: SubverseIM.Bootstrapper
    runs-on: self-hosted
    permissions:
      contents: read

    container: 
      image: mcr.microsoft.com/dotnet/sdk:8.0
      
    steps:
    - uses: actions/checkout@v4
      with: 
        submodules: 'recursive'
    - name: Restore dependencies
      run: dotnet restore SubverseIM.Network/SubverseIM.Bootstrapper.Tests/SubverseIM.Bootstrapper.Tests.csproj
    - name: Build SubverseIM.Bootstrapper
      run: dotnet build SubverseIM.Network/SubverseIM.Bootstrapper.Tests/SubverseIM.Bootstrapper.Tests.csproj --no-restore
    - name: Test SubverseIM.Bootstrapper
      run: dotnet test SubverseIM.Network/SubverseIM.Bootstrapper.Tests/SubverseIM.Bootstrapper.Tests.csproj --no-build --verbosity normal
  build-app:
    name: SubverseIM.Android
    runs-on: self-hosted
    permissions:
      contents: read
    
    container: 
      image: mobiledevops/android-sdk-image
      
    steps:
      - uses: actions/checkout@v4
        with: 
          submodules: 'recursive'
      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'
      - name: Add Avalonia Nuget feed
        run: dotnet nuget add source https://nuget-feed-all.avaloniaui.net/v3/index.json
      - name: Test SubverseIM.App
        run: dotnet test SubverseIM.App/SubverseIM.Headless/SubverseIM.Headless.csproj
      - name: Restore workloads
        run: dotnet workload restore SubverseIM.App/SubverseIM.Android/SubverseIM.Android.csproj
      - name: Restore dependencies
        run: dotnet restore SubverseIM.App/SubverseIM.Android/SubverseIM.Android.csproj
      - name: Build & publish SubverseIM.Android
        run: dotnet publish SubverseIM.App/SubverseIM.Android/SubverseIM.Android.csproj -m:1
